In [1]:
from llm_utils import *

In [19]:
DATABASE = "postgres"
USER = "postgres"
PASSWORD = "mysecretpassword"
HOST = "localhost"
PORT = 5432
TABLES = []  # list of tables to load or [] to load all tables

from db_connectors import PostgresConnector
from prompt_formatters import RajkumarFormatter, SqlCoderFormatter

try:
    # Get the connector and formatter
    postgres_connector = PostgresConnector(
        user=USER, password=PASSWORD, dbname=DATABASE, host=HOST, port=PORT
    )
    postgres_connector.connect()
    if len(TABLES) <= 0:
        TABLES.extend(postgres_connector.get_tables())
    
    print(f"Loading tables: {TABLES}")
    
    db_schema = [postgres_connector.get_schema(table) for table in TABLES]
    formatter = SqlCoderFormatter(db_schema)
except:
    formatter = SqlCoderFormatter([])
    # Reading from the file
    with open("sample_table_str_raw.txt", 'r') as file:
        formatter.table_str = file.read()

In [20]:
question = "How many products are we selling ?"

In [21]:
%%time
# Enrich the db definition with comments
formatter.table_str = add_comment_to_sql(formatter.table_str, debug=False)
# Build the prompt for Text2SQL
prompt = formatter.format_prompt(question, database='Postgres')
# Get SQLQuery
response = prompt_llm_offline(prompt=prompt, max_length=2500, model_name=HG_SQL_LLM_MODEL_PATH)
query = extract_sql_code(response)

Loading model...
Using device cuda.

Loading checkpoint shards:   0%|          | 0/2 [00:00<?, ?it/s]

Tokenizing....
Generating...
Loading model...
Using device cuda.

Loading checkpoint shards:   0%|          | 0/2 [00:00<?, ?it/s]

The attention mask and the pad token id were not set. As a consequence, you may observe unexpected behavior. Please pass your input's `attention_mask` to obtain reliable results.
Setting `pad_token_id` to `eos_token_id`:2 for open-end generation.

Tokenizing....
Generating...
CPU times: user 2min 17s, sys: 1min 35s, total: 3min 53s
Wall time: 1min 46s

In [22]:
print(query)

-- Replace the query below with your SQL query:
 SELECT COUNT(DISTINCT products.productid) AS number_of_products FROM products;

In [8]:
print(response)

### Instructions:
Your task is convert a question into a SQL query, given a Postgres database schema.
Adhere to these rules:
- **Deliberately go through the question and database schema word by word** to appropriately answer the question
- **Use Table Aliases** to prevent ambiguity. For example, `SELECT table1.col1, table2.col1 FROM table1 JOIN table2 ON table1.id = table2.id`.
- When creating a ratio, always cast the numerator as float

### Input:
Generate a SQL query that answers the questioq `What is the most frequently used payment method ?`.
This query will run on a database whose schema is represented in this string:

CREATE TABLE suppliers (
    supplierid SERIAL PRIMARY KEY, -- supplierid is the unique identifier for each supplier
    suppliername VARCHAR(100), -- supplier name
    contactname VARCHAR(100), -- contact person's name
    address VARCHAR(255), -- supplier's address
    city VARCHAR(50), -- city where the supplier is located
    country VARCHAR(50), -- country where the supplier is located
    phone VARCHAR(15), -- supplier's phone number
    email VARCHAR(100) -- supplier's email address
)

CREATE TABLE products (
    categoryid integer, -- categoryid is the unique identifier for each product category
    unitprice numeric, -- unit price of the product
    stockquantity integer DEFAULT 0, -- initial stock quantity of the product
    supplierid integer, -- supplier who owns the product
    productid SERIAL PRIMARY KEY, -- unique identifier for each product
    productname VARCHAR(100), -- name of the product
    description text -- brief description of the product
)

CREATE TABLE categories (
    categoryid SERIAL PRIMARY KEY, -- categoryid is the unique identifier for each category
    categoryname VARCHAR(50), -- name of the category
    description text -- brief description of the category
)

CREATE TABLE customers (
    customerid SERIAL PRIMARY KEY, -- customerid is the unique identifier for each customer
    registrationdate timestamp with time zone DEFAULT CURRENT_TIMESTAMP, -- date when the customer registered
    lastname VARCHAR(50), -- last name of the customer
    email VARCHAR(100), -- customer's email address
    phone VARCHAR(15), -- customer's phone number
    address VARCHAR(255), -- customer's address
    city VARCHAR(50), -- city where the customer is located
    country VARCHAR(50), -- country where the customer is located
    firstname VARCHAR(50) -- first name of the customer
)

CREATE TABLE orders (
    orderid SERIAL PRIMARY KEY, -- orderid is the unique identifier for each order
    customerid integer, -- customer who placed the order
    orderdate timestamp with time zone DEFAULT CURRENT_TIMESTAMP, -- date when the order was placed
    totalamount numeric, -- total amount of the order
    shippingaddress VARCHAR(255), -- address where the order will be shipped
    orderstatus VARCHAR(50) DEFAULT 'Processing'::character varying -- current order status
)

CREATE TABLE orderdetails (
    orderdetailid SERIAL PRIMARY KEY, -- orderdetailid is the unique identifier for each order detail
    orderid integer, -- orderid is the unique identifier for the order that this detail belongs to
    productid integer, -- productid is the unique identifier for the product being detailed
    quantity integer, -- quantity of the product being detailed
    unitprice numeric, -- unit price of the product being detailed
)

CREATE TABLE payments (
    paymentid SERIAL PRIMARY KEY, -- paymentid is the unique identifier for each payment
    orderid integer, -- orderid is the unique identifier for the order that this payment belongs to
    paymentdate timestamp with time zone DEFAULT CURRENT_TIMESTAMP, -- date when the payment was made
    amount numeric, -- amount of the payment
    paymentmethod VARCHAR(50) -- payment method used (e.g. credit card, PayPal, etc.)
)

CREATE TABLE customerfeedback (
    feedbackid SERIAL PRIMARY KEY, -- feedbackid is the unique identifier for each piece of feedback
    customerid integer, -- customerid is the unique identifier for the customer who left the feedback
    productid integer, -- productid is the unique identifier for the product being feedbacked on
    rating integer, -- rating of the product being feedbacked on (1-5)
    feedbackdate timestamp with time zone DEFAULT CURRENT_TIMESTAMP, -- date when the feedback was left
    comment text -- brief comment left by the customer
)

-- products.categoryid can be joined with categories.categoryid
-- products.supplierid can be joined with suppliers.supplierid
-- orders.customerid can be joined with customers.customerid
-- orderdetails.orderid can be joined with orders.orderid
-- orderdetails.productid can be joined with products.productid
-- payments.orderid can be joined with orders.orderid
-- customerfeedback.customerid can be joined with customers.customerid
-- customerfeedback.productid can be joined with products.productid


### Response:
Based on your instructions, here is the SQL query for Postgres I have generated to answer the question `What is the most frequently used payment method ?`:
```sql
SELECT payments.paymentmethod, COUNT(*) AS COUNT FROM payments GROUP BY payments.paymentmethod ORDER BY COUNT DESC LIMIT 1;
````